<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>应用管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
    <th:block th:replace="fragments/css/css-import::common-css"/>
</head>
<body style="background-color: white;">
<form class="layui-form layui-form-pane" lay-filter="form" action="" style="padding: 20px 30px 20px 30px;background-color: white">
    <div class="layui-form-item">
        <label class="layui-form-label">应用名称</label>
        <div class="layui-input-block">
            <input type="text" name="applicationName" lay-verify="required" lay-reqtext="应用名称是必填项，不能为空" placeholder="请输入应用名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">授权模式</label>
        <div class="layui-input-block">
            <input type="checkbox" value="authorization_code" name="authorizedGrantTypes" title="授权码授权模式（Authorization code Grant）">
            <input type="checkbox" value="implicit" name="authorizedGrantTypes" title="隐式授权模式（Implicit Grant）">
            <input type="checkbox" value="client_credentials" name="authorizedGrantTypes" title="客户端凭证模式（Client Credentials Grant）">
            <input type="checkbox" value="refresh_token" name="authorizedGrantTypes" title="凭证刷新模式（Refresh Token Grant）">
            <input type="checkbox" value="password" name="authorizedGrantTypes" title="密码模式（Resource Owner Password Credentials Grant）">
            <input type="checkbox" value="wechat" name="authorizedGrantTypes" title="微信OpenID模式（WeChat Grant）">
            <input type="checkbox" value="mobile" name="authorizedGrantTypes" title="手机登录模式（Mobile Grant）">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回调地址</label>
        <div class="layui-input-block">
            <input type="text" name="webServerRedirectUri" lay-verify="url" placeholder="请输入回调地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">应用域</label>
        <div class="layui-input-block" th:each="scope:${scopes}">
            <input type="checkbox" th:value="${scope.getId()}" name="scope" th:title="${scope.getDescription()}" />
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 200px">令牌有效时间（秒）</label>
            <div class="layui-input-block" style="margin-left: 200px">
                <input type="text" name="accessTokenValidity" th:value="36000" lay-verify="number" placeholder="请输入令牌有效时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="width: 200px">刷新令牌有效时间（秒）</label>
            <div class="layui-input-block" style="margin-left: 200px">
                <input type="text" name="refreshTokenValidity" th:value="36000" lay-verify="number" placeholder="请输入刷新令牌有效时间" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述信息</label>
        <div class="layui-input-block">
            <textarea name="description" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="form-submit" id="form-submit" value="确认添加">
    </div>
</form>
</body>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/pages/client/add.js}"></script>
</html>