<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>应用域管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
    <th:block th:replace="fragments/css/css-import::common-css"/>
</head>
<body class="bali-content">
<div class="breadcrumb-wrapper">
    <span class="layui-breadcrumb" lay-separator="—">
      <a href="">首页</a>
      <a href="">客户端管理</a>
      <a><cite>应用域</cite></a>
    </span>
</div>
<div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="search">
                        <div class="layui-inline">
                            <input placeholder="请输入域名" class="layui-input" name="scope" id="scope" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                        <button class="layui-btn layui-btn-primary" data-type="reset">
                            <i class="layui-icon layui-icon-refresh"></i>
                        </button>
                    </div>
                    <table class="layui-hide" id="table" lay-filter="filter">
                        <script type="text/html" id="scopeTpl">
                            <button class="layui-btn layui-btn-normal layui-btn-xs">{{d.scope}}</button>
                        </script>
                        <script type="text/html" id="autoTpl">
                            {{#  if(d.auto == true){ }}
                            <span>是</span>
                            {{#  } else { }}
                            <span>否</span>
                            {{#  } }}
                        </script>
                    </table>

                    <script type="text/html" id="action">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/layui-template"/>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/pages/client/scope/index.js}"></script>
</html>