<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title>Bali用户中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <th:block th:replace="fragments/css/css-import::core-css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header-menu">
        <div class="layui-main">
            <div class="layui-logo">
                <img th:src="@{/static/images/logo.png}" class="layui-nav-img">Bali用户中心
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layui-this"><a href="javascript:;" path="home/index">仪表盘</a></li>
                <li class="layui-nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','TENANT_ADMIN')">
                    <a href="javascript:;">管理中心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="user/index"
                               sec:authorize="hasAnyRole('SUPER_ADMIN','TENANT_ADMIN')">用户管理</a></dd>
                        <dd><a href="javascript:;" path="role/index" sec:authorize="hasRole('TENANT_ADMIN')">角色管理</a>
                        </dd>
                        <dd><a href="javascript:;" path="tenant/index" sec:authorize="hasRole('SUPER_ADMIN')">租户管理</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" sec:authorize="hasAnyRole('SUPER_ADMIN','TENANT_ADMIN')">
                    <a href="javascript:;">客户端管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="client/index"
                               sec:authorize="hasAnyRole('SUPER_ADMIN','TENANT_ADMIN')">应用管理</a></dd>
                        <dd><a href="javascript:;" path="client/scope/index"
                               sec:authorize="hasAnyRole('SUPER_ADMIN','TENANT_ADMIN')">应用域</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">开放文档</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="swagger-ui/">Api文档</a></dd>
                        <dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img th:src="${userInfo.getUserAvatar()!=null?userInfo.getUserAvatar():'/static/images/user_default.png'}" class="layui-nav-img">
                        <th:block th:text="${userInfo.getUserName()!=null?userInfo.getUserName():userInfo.getNickName()}"></th:block>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="/personal/index">个人中心</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/logout">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="layui-body" id="LAY_app_body">
        <div class="layui-show">
            <iframe src="home/index" frameborder="0" class="layui-iframe"></iframe>
        </div>
    </div>

</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/index.js}"></script>
</html>