<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title>Rich OAuth2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Bali</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <!--<img th:src="${user.getUserAvatar()}" class="layui-nav-img">-->
                    <th:block th:text="${user.getLoginId()}"></th:block>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出登录</a></li>
        </ul>
    </div>
</div>
<div>
    <div class="layui-body" id="LAY_app_body">
        <div class="layui-show">
            <iframe src="home" frameborder="0" class="layui-iframe"></iframe>
        </div>
    </div>

</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
</html>