<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.bali.auth.mapper.AuthClientDetailsScopeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.bali.auth.entity.AuthClientDetailsScope">
        <id column="id" property="id" />
        <result column="details_id" property="detailsId" />
        <result column="scope_id" property="scopeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, details_id, scope_id
    </sql>

</mapper>
