<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
    <link rel="stylesheet" th:href="@{/webjars/cropperjs/1.5.6/dist/cropper.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/personal/avatar.css}">
</head>
<body class="bali-content">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12">
            <button type="button" class="layui-btn" id="upload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm7 layui-col-md7">
            <div class="img-container">
                <img id="avatar_image" src="/static/images/user_cropper.png" alt="Picture">
            </div>
        </div>
        <div class="layui-col-sm5 layui-col-md5">
            <div class="docs-preview clearfix">
                <div class="img-preview preview-lg"></div>
                <div class="img-preview preview-md"></div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <button type="button" class="layui-btn" id="left">
                向左旋转
            </button>
            <button type="button" class="layui-btn" id="right">
                向右旋转
            </button>
        </div>
        <div class="layui-col-md4 layui-col-md-offset4" style="direction: rtl">
            <button type="button" class="layui-btn" id="crop">
                保存
            </button>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/webjars/cropperjs/1.5.6/dist/cropper.min.js}"></script>
<script th:src="@{/static/js/pages/personal/avatar.js}"></script>
</html>