<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <th:block th:replace="fragments/css/css-import::core-css"/>
    <th:block th:replace="fragments/css/css-import::common-css"/>
</head>
<body style="background-color: white;">
<input class="layui-hide" id="tId" th:value="${user.getTenantId()}">
<form class="layui-form" lay-filter="form" action="" style="padding: 20px 60px 20px 30px;background-color: white">
    <input type="text" name="id" class="layui-hide" th:value="${user.getId()}">
    <div class="layui-form-item">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-block">
            <input type="text" name="loginId" lay-verify="loginId" lay-reqtext="登录名是必填项，不能为空" placeholder="请输入登录名"
                   autocomplete="off" class="layui-input" th:value="${user.getLoginId()}" disabled readonly>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="userName" lay-verify="required" lay-reqtext="姓名是必填项，不能为空" placeholder="请输入姓名"
                   autocomplete="off" class="layui-input" th:value="${userInfo.getUserName()}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户昵称</label>
        <div class="layui-input-block">
            <input type="text" name="nickName" placeholder="请输入用户昵称" autocomplete="off" class="layui-input"
                   th:value="${userInfo.getNickName()}">
        </div>
    </div>

    <div class="layui-form-item" sec:authorize="hasRole('SUPER_ADMIN')">
        <label class="layui-form-label">所属租户</label>
        <div class="layui-input-block">
            <select id="tenantId" lay-verify="required" lay-reqtext="用户必须绑定租户" name="tenantId" lay-filter="tenantId">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="userSex" value="1" title="男" th:checked="${userInfo.getUserSex()==1}">
                <input type="radio" name="userSex" value="0" title="女" th:checked="${userInfo.getUserSex()==0}">
                <input type="radio" name="userSex" value="" title="禁用" th:checked="${userInfo.getUserSex()==null}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input type="text" id="userBorn" name="userBorn" placeholder="选择日期" autocomplete="off"
                       class="layui-input date-select"
                       th:value="${#temporals.format(userInfo.getUserBorn(), 'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电子邮件</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="email" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input"
                   th:value="${userInfo.getEmail()}">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">居住地址</label>
        <div class="layui-input-block">
            <textarea name="userAddress" placeholder="请输入地址" class="layui-textarea"
                      th:text="${userInfo.getUserAddress()}"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">移动电话</label>
            <div class="layui-input-inline">
                <input type="text" name="mobileTel" placeholder="请输入移动电话" autocomplete="off" class="layui-input"
                       th:value="${userInfo.getMobileTel()}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phoneTel" placeholder="请输入联系电话" autocomplete="off" class="layui-input"
                       th:value="${userInfo.getPhoneTel()}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="正常" th:checked="${user.getStatus()==1}">
            <input type="radio" name="status" value="0" title="无效" th:checked="${user.getStatus()==0}">
            <input type="radio" name="status" value="9" title="锁定" th:checked="${user.getStatus()==9}">
            <input type="radio" name="status" value="8" title="失效" th:checked="${user.getStatus()==8}">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="form-submit" id="form-submit" value="确认添加">
    </div>
</form>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/pages/user/edit.js}"></script>
</html>